* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Helvetica Neue', Arial, sans-serif; }
body { background-color: #f9f9f9; color: #333; min-height: 100vh; }

.navbar { display: flex; justify-content: space-between; align-items: center; padding: 20px 40px; background: #000; color: #fff; font-size: 14px; }
.nav-center h1 { font-size: 24px; letter-spacing: 8px; font-weight: 400; }
.nav-right span { margin-left: 20px; cursor: pointer; }
.nav-right span:hover { text-decoration: underline; }

#main-content { padding: 60px 40px; }
.grid-container { display: flex; justify-content: center; gap: 30px; flex-wrap: wrap; margin-top: 50px; }

/* Simpler Grid Layout (No Shadow) */
.category-card, .product-card {
    background: #fff;
    border: 1px solid #eaeaea;
    text-align: center;
    cursor: pointer;
    width: 22%;
    min-width: 250px;
    border-radius: 8px;
    overflow: hidden;
}

.category-card img, .product-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background: #fff;
}

/* Info inside grid box */
.info-box { padding: 20px; border-top: 1px solid #eaeaea; background: #fafafa; }
.info-box p { font-size: 16px; font-weight: 500; margin-bottom: 5px; color: #000; }
.info-box .price { font-size: 14px; color: #666; }

.hidden { display: none !important; }
.back-btn { background: #000; padding: 10px 20px; border: none; color: #fff; cursor: pointer; margin-bottom: 20px; border-radius: 4px; }
.back-btn:hover { background: #333; }

/* Detail View */
.product-detail-layout { display: flex; gap: 40px; max-width: 900px; margin: 0 auto; background: #fff; padding: 40px; border-radius: 8px; border: 1px solid #eaeaea;}
.product-detail-layout img { width: 50%; object-fit: contain; }
.detail-info { width: 50%; display: flex; flex-direction: column; justify-content: center; }
.detail-info h2 { font-size: 28px; margin-bottom: 10px; }
.detail-info .price { font-size: 22px; color: #555; margin-bottom: 20px; }
.detail-info .desc { font-size: 15px; color: #666; margin-bottom: 30px; line-height: 1.6; }
.purchase-btn { background: #000; color: #fff; padding: 15px; font-size: 16px; border: none; cursor: pointer; border-radius: 4px; }

/* Modals */
.modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.6); display: flex; align-items: center; justify-content: center; z-index: 100; }
.modal-content { background: #fff; padding: 30px; width: 400px; border-radius: 8px; position: relative; text-align: center;  }
.close-modal { position: absolute; right: 20px; top: 20px; cursor: pointer; font-size: 20px; }
.modal-content input { width: 100%; padding: 12px; margin: 10px 0; border: 1px solid #ccc; border-radius: 4px; }
.modal-content button { width: 100%; padding: 12px; background: #000; color: #fff; border: none; margin-top: 10px; cursor: pointer; border-radius: 4px; }